
.bg {    
    background-repeat: no-repeat;   
    background-size: cover;     
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.image {
    height: 50vh;
    margin-left: 2vw;
}
.info{
    margin-top: 15vh;
}
.image:active{
    border: 5px solid yellow;    
}
